.vs

/SingleResponsibility/.vs
/SingleResponsibility/bin
/SingleResponsibility/obj

/OpenClose/.vs
/OpenClose/bin
/OpenClose/obj


/LiskovSubstitution/.vs
/LiskovSubstitution/bin
/LiskovSubstitution/obj


/InterfaceSegregation/.vs
/InterfaceSegregation/bin
/InterfaceSegregation/obj


/DependencyInversion/.vs
/DependencyInversion/bin
/DependencyInversion/obj